{{extend 'layout.html'}}

<h3>Panel de Control</h3>

<br/><br/>

<table>
    <tr>
        <td class="btn btn-default" id="usuarios">
            {{=A(IMG(_src=URL('static','images/user/people.png')),_href=URL(c='admin', f='panel_user'), _class='btn')}}
            <center>USUARIOS</center>
        </td>
        <td class="btn btn-default" id="grupos">
            {{=A(IMG(_src=URL('static','images/user/social_network.png')),_href=URL(c='admin', f='panel_group'), _class='btn')}}
            <center>GRUPOS</center>
        </td>
        <td class="btn btn-default" id="perfiles">
            {{=A(IMG(_src=URL('static','images/user/users.png')),_href=URL(c='admin', f='panel_membership'), _class='btn')}}
            <center>PERFILES</center>
        </td>
        <td class="btn btn-default" id="permisos">
            {{=A(IMG(_src=URL('static','images/user/user_password.png')),_href=URL(c='admin', f='panel_permission'), _class='btn')}}
            <center>PERMISOS</center>
        </td>
    </tr>
</table>

<br/>
{{if grid:}}
    <div class="well">
        <hr class="bs-docs-separator">
    <!-- #############  CREATE_FORM  ############# -->
        {{if grid.create_form:}}
            <h5>Ingrese los datos</h5>
            {{=grid.create_form}}

    <!-- #############  UPDATE_FORM  ############# -->
        {{elif grid.update_form:}}
            <h5>Modifique los datos y luego presione el boton 
            {{=grid.update_form}}

    <!-- #############  VIEW_FORM  ############# -->
        {{elif grid.view_form:}}

            {{=grid.view_form}}
                
    <!--##############  GRID_FORM  ############# -->
        {{else:}}
            {{=grid}}
        {{pass}}

    </div>
{{pass}}

<style type="text/css">
    table tr td img{
        max-width: 80px;
        max-height: 80px;
    }
</style>

<script type="text/javascript">
    $( document ).ready(function() {
        $('table tr td.btn-success').removeClass('btn-success');
        $('#{{=button}}').addClass('btn-success');
    });
</script>