{{extend 'layout.html'}}

<br/>
<div class="col-md-2"></div>
<div class="container col-md-8 well">

	<h3> <u><i>Acerca de </i><strong>PI - Parque informático</strong> </u></h3>
	<div class="col-md-2">
		{{=IMG(_src=URL('static','images/pi_100.png'))}}
	</div>
	<div class="col-md-9">
		<p>
			Este Sistemas fué desarrollado con la intención de administrar el parque informático de la secretaria de vivienda, provincia de catamarca, a principios del año 2016 (Enero - Febrero). La idea era tener actualizado el equipamiento informática que administraba el área de computos, para asi poder tener información centralizada y disponible al instante.
		</p>

		<p>
			Para el desorrollo se hizo uso del frameword web2py, debido a que su practicidad, facilidad y agilidad.
			<br/><br/>
		</p>
	</div>


	<hr>
	
	<b>Desarrollador:</b>
	<ul>
		<li>
			<i>Casas, Sergio</i>
			<br/><a href="mailto:sdcasas@gmail.com">sdcasas@gmail.com</a>
			<br/><a href="https://www.dataset.com.ar">dataset.com.ar</a>
			<br/>Twitter: <a href="https://www.twitter.com/ser-libre">@ser_libre</a>
			<br/>Github: <a href="https://github.com/scasas">scasas</a>
		</li>
	</ul>

	<b>Colaboradores:</b>
	<ul>
		<li><i>Santillan, Alvaro</i> (desarrollo)</li>
		<li><i>Rivera Luna, Sebastian</i> (carga de datos)</li>
		<li><i>Paez, Martin</i> (carga de datos)</li>
	</ul>

	<b>Agradecimiento:</b>
	<ul>
		<li>Miranda, Martin: por la ayuda en el uso del frameword web2py</li>
	</ul>

	<b>Herramientas utilizadas:</b>
	<ul>
		<li>Python</li>
		<li>web2py</li>
		<li>mysql</li>
		<li>html</li>
		<li>css</li>
		<li>javascrip, jquery</li>
		<li>bootstrap</li>
	</ul>

</div>
<div class="col-md-2"></div>

<style type="text/css">

	p {
		text-align: justify;
	}

	hr {
		height: 1px;
		width:100%;
		display:block; /* for use on default inline elements like span */
		margin: 9px 0;
		overflow: hidden;
		background-color: #e5e5e5;
	}
</style>