<!-- incluyo los archivos CSS -->
{{response.files.insert(60,URL('static','js/jquery.datatables/bootstrap/dataTables.bootstrap.css'))}}
{{response.files.insert(61,URL('static','js/jquery.datatables/css/jquery.dataTables.css'))}}

<!-- incluyo los archivos JavasScript -->
{{response.files.insert(81,URL('static','js/jquery.datatables/js/jquery.dataTables.min.js'))}}
{{response.files.insert(82,URL('static','js/jquery.datatables/js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(83,URL('static','js/jquery.datatables/js/fnReloadAjax.js'))}}

<!-- Add script for dataTables -->
{{response.files.append(URL('static', 'extensions/TableTools/css/dataTables.tableTools.css'))}}
{{response.files.append(URL('static', 'extensions/TableTools/css/dataTables.bootstrap.css'))}}
{{response.files.append(URL('static', 'extensions/TableTools/js/dataTables.tableTools.js'))}}
{{response.files.append(URL('static', 'extensions/TableTools/js/dataTables.bootstrap.js'))}}

{{extend 'layout.html'}}

{{from applications.pi.modules.tools import *}}

<h3> {{=titulo}} </h3>

{{=A(
    IMG(
        _src=URL('static','images/tools/pdf.png')
        , _width=24
    )
    , _href=URL(c='libreria', f='stock', args=['pdf'], user_signature=True)
    , _class='btn btn-default'
    , _taget="blank"
    , _title='Imprimir Stock a la fecha'
) }}

<div class="panel panel-default col-md-6">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th></th>
                <th>Articulo</th>
                <th>Cantidad Disponible</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{for reg in grid:}}
                <tr>
                    <td></td>
                    <td>{{=reg[1]}}</td>
                    <td>{{=reg[2]}}</td>
                    <td>
                        {{if reg[2]>0: }}
                            {{=A(
                                IMG(
                                    _src=URL('static','images/tools/enter.png')
                                    , _width=24
                                )
                                , _href=URL(c='libreria', f='egresos_new',  vars=dict(articulo_id=reg[0]), user_signature=True)
                                , _class='btn btn-default'
                                , _title='Entrega de Artículo'
                            ) }}
                        {{pass}}
                    </td>
                </tr>
            {{pass}}
        </tbody>
    </table>
</div>

<style type="text/css">
    .btn-default{
        margin: 0;
        padding: 0;
    }

    table tbody tr:hover > td {
        background-color: #FAEBD7;
    }
</style>

<script type="text/javascript" >
    $(document).ready(function() {

        var oTable = $('.table').dataTable( {
            "aaSorting": []
            , "oLanguage": {sUrl: "{{=URL('static','js/jquery.datatables/dataTables.spanish.txt')}}"}
            , "aLengthMenu": [50, 100, 500, 1000]
            , "iDisplayLength": 500
            , "sDom": 'lRfrtip'
            , "bDeferRender": true
            , "bPaginate": true
        } );

    });
</script>