<!-- incluyo los archivos CSS -->
{{response.files.insert(60,URL('static','js/jquery.datatables/bootstrap/dataTables.bootstrap.css'))}}
{{response.files.insert(61,URL('static','js/jquery.datatables/css/jquery.dataTables.css'))}}

<!-- incluyo los archivos JavasScript -->
{{response.files.insert(81,URL('static','js/jquery.datatables/js/jquery.dataTables.min.js'))}}
{{response.files.insert(82,URL('static','js/jquery.datatables/js/jquery.dataTables.columnFilter.js'))}}
{{response.files.insert(83,URL('static','js/jquery.datatables/js/fnReloadAjax.js'))}}

<!-- Add script for dataTables -->
{{response.files.append(URL('static', 'extensions/TableTools/css/dataTables.tableTools.css'))}}
{{response.files.append(URL('static', 'extensions/TableTools/css/dataTables.bootstrap.css'))}}
{{response.files.append(URL('static', 'extensions/TableTools/js/dataTables.tableTools.js'))}}
{{response.files.append(URL('static', 'extensions/TableTools/js/dataTables.bootstrap.js'))}}

{{extend 'layout.html'}}

{{from applications.pi.modules.tools import *}}

<h3> {{=titulo}} </h3>

<div class="panel panel-default">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Identificador</th>
                <th>Tipo</th>
                <th>Marca | Modelo</th>
                <th>Pulgadas</th>
                <th>Microprocesador</th>
                <th>Disco</th>
                <th>Memoria</th>
                <th>SO</th>
                <th>Area</th>
                <th>Responsable</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {{for reg in grid:}}
                <tr>
                    <td>{{='POR-' + str(100+reg.id)}}</td>
                    <td>{{=reg.tipo}}</td>
                    <td>{{=reg.marca_id.nombre}} {{=reg.modelo}}</td>
                    <td>{{=reg.pulgadas}}</td>
                    <td>{{=control_microprocesador_id(reg)}}</td>
                    <td>{{=reg.disco}}</td>
                    <td>{{=reg.memoria}}</td>
                    <td>{{=reg.so}}</td>
                    <td>{{=reg.area_id.nombre}}</td>
                    <td>{{=control_reponsable_id(reg)}}</td>
                    <td>
                        {{=A(
                            IMG(_src=URL('static', 'images/tools/pdf.png'), _width=24 )
                            , _href=URL(c='report', f='etiqueta', vars=dict(dispositivo='portatiles',id=reg.id))
                            , _class='btn btn-default'
                            , _target='blank'
                        ) }}
                    </td>
                </tr>
            {{pass}}
        </tbody>
    </table>
</div>

<style type="text/css">
    table .btn, table .btn-default{
        margin: 0;
        padding: 0;
    }
</style>

<script type="text/javascript" >
    $(document).ready(function() {

        var oTable = $('.table').dataTable( {
            "aaSorting": []
            , "oLanguage": {sUrl: "{{=URL('static','js/jquery.datatables/dataTables.spanish.txt')}}"}
            , "aLengthMenu": [50, 100, 500, 1000]
            , "iDisplayLength": 500
            , "sDom": 'lRfrtip'
            , "bDeferRender": true
            , "bPaginate": true
        } );
    });

    
</script>