{{extend 'layout.html'}}

<table>
    <tr>
        <td class="btn btn-default" id="marcas">
            {{=A(IMG(_src=URL('static','images/dispositivos/notes.png')),_href=URL(c='equipos', f='marcas'), _class='btn')}}
            <center>MARCAS</center>
        </td>
        <td class="btn btn-default" id="placa_madre">
            {{=A(IMG(_src=URL('static','images/dispositivos/motherboard.png')),_href=URL(c='equipos', f='placa_madre'), _class='btn')}}
            <center>PLACA MADRE</center>
        </td>
        <td class="btn btn-default" id="microprocesadores">
            {{=A(IMG(_src=URL('static','images/dispositivos/cpu.png')),_href=URL(c='equipos', f='microprocesadores'), _class='btn')}}
            <center>MICROPROCESADORES</center>
        </td>
        <td class="btn btn-default" id="impresoras">
            {{=A(IMG(_src=URL('static','images/dispositivos/print.png')),_href=URL(c='equipos', f='impresoras'), _class='btn')}}
            <center>IMPRESORAS</center>
        </td>
        <td class="btn btn-default" id="monitores">
            {{=A(IMG(_src=URL('static','images/dispositivos/monitor.png')),_href=URL(c='equipos', f='monitores'), _class='btn')}}
            <center>MONITORES</center>
        </td>
        <td class="btn btn-default" id="ups_estabilizador">
            {{=A(IMG(_src=URL('static','images/dispositivos/status.png')),_href=URL(c='equipos', f='ups_estabilizador'), _class='btn')}}
            <center>UPS | ESTABILIZADORES</center>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
</table>


<h3> {{=titulo}} </h3>

{{if grid:}}
    <div class="">
        <hr class="bs-docs-separator">
        
    <!-- #############  CREATE_FORM  ############# -->
        {{if grid.create_form:}}
            <h5>Ingrese los datos</h5>
            <div class="col-md-8">{{=grid.create_form}}</div>

    <!-- #############  UPDATE_FORM  ############# -->
        {{elif grid.update_form:}}
            <h5>Modifique los datos y luego presione el boton </h5>
            <div class="col-md-8">{{=grid.update_form}}</div>

    <!-- #############  VIEW_FORM  ############# -->
        {{elif grid.view_form:}}
            <div class="col-md-8">{{=grid.view_form}}</div>
    <!--##############  GRID_FORM  ############# -->
        {{else:}}
            {{=grid}}
        {{pass}}

    </div>
{{pass}}

<br/><br/><br/><br/>

<style type="text/css">
    table tr td img{
        max-width: 80px;
        max-height: 80px;
    }
</style>

<script type="text/javascript">
    $( document ).ready(function() {
        $('table tr td.btn-success').removeClass('btn-success');
        $('#{{=button}}').addClass('btn-success');
    });
</script>