{{extend 'layout.html'}}

<h3>Stock Impresoras</h3>

{{if grid:}}
    <div class="">
        <hr class="bs-docs-separator">
    <!-- #############  CREATE_FORM  ############# -->
        {{if grid.create_form:}}

            <h5>Ingrese los datos</h5>
            {{=grid.create_form}}
            

    <!-- #############  UPDATE_FORM  ############# -->
        {{elif grid.update_form:}}
            <h5>Modifique los datos y luego presione el boton 
            {{=grid.update_form}}

    <!-- #############  VIEW_FORM  ############# -->
        {{elif grid.view_form:}}

            {{=grid.view_form}}
                
    <!--##############  GRID_FORM  ############# -->
        {{else:}}
            {{=grid}}
        {{pass}}
    </div>
{{pass}}